[credential]
	helper = cache --timeout=31536000
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  phead = push origin HEAD
  pmaster = push origin master
  pdev = push origin dev